
<h1>Home#index</h1>

<div class="jumbotron">
    <h1>Welcome to my app</h1>
    <p> It is gonna kick asses </p>
    <%= link_to 'About', home_about_path, class: 'btn btn-default' %>
    <%= link_to 'Home', root_path, class: 'btn btn-primary'%>
</div>

<p>Find me in app/views/home/index.html.erb</p>
